<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/static/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/static/jquery-ui.min.css" />
<style>
    .ui-autocomplete-loading {
      background: white url("/static/images/ui-anim_basic_16x16.gif") right center no-repeat;
    }
</style>
<img src="/static/images/altavista.jpg" height="100px" width="200px"/>
<div id="search">
    <input type="text" id="txtQuery" style="width:70%"/>
    <br />
    <input type="button" id="btnSearch" value="Search" style="width:20%"/>
    <br />
    <span id="loading" style="display: none;">Loading...</span>
    <br />
</div>
<div class="result">
</div>
<div id="dialog-doc" title="Document Content">
    <span id="docContent"></span>
</div>

<script type="text/javascript">
    $(function() {
        $("#txtQuery").autocomplete({
            source: function( request, response ) {
                $.ajax( {
                url: "/suggestions",
                dataType: "json",
                data: {
                    term: request.term
                },
                success: function( data ) {
                    response( data.result );
                }
                });
            },
            minLength: 3,
            delay: 1000,
            select: function( event, ui ) {
                console.log(ui);
            }
        });

        $("#btnSearch").click(function() {
            search();
        }); 
    });

    function search() {
        $('#loading').show()
        $(".result").empty()
        $.ajax({
                url: "/search",
                method: "POST",
                dataType: "json",
                data: {
                    query: $("#txtQuery").val()
                }
            })
            .then(function(response){
                $('#loading').hide()
                var templ = $.trim($("#itemResult").html());
                var htmlItem = "<div class='item'><number/>) <id/> - <a  onclick='return getDocument(<id/>)' href='#'><title/></a><p><snippet1/></p><p><snippet2/></p><span>Score: <score/></span></div><br /> <br />"
                var number = 1;
                response.result.forEach(item => {
                    //console.log(item)
                    var parsedItem = htmlItem.replace('<id/>', item.docId)
                                        .replace('<title/>', item.title)
                                        .replace('<snippet1/>', item.snippets.length > 0 ? item.snippets[0] : '')
                                        .replace('<snippet2/>', item.snippets.length > 1 ? item.snippets[1] : '')
                                        .replace('<score/>', item.score)
                                        .replace('<id/>', item.docId)
                                        .replace('<number/>', number)
                    $('.result').append(parsedItem);
                    number++;
                });
            });
    }

    function getDocument(docId) {
        $.ajax({
            url: "/doc",
            dataType: "json",
            data: {
                docId: docId
            }
        })
        .then(function(response){
            $('#docContent').text(response.result);
            createDialog();
        });
    }

    function createDialog(){
        $( "#dialog-doc" ).dialog({
            modal: true,
            width: 800,
            height: 400,
            position: { my: "center top", at: "center top", of: window },
            buttons: {
                Ok: function() {
                $( this ).dialog( "close" );
                }
            }
        });
    }

</script>